html{
    background-color: black;
}
.car{
    display: flex;
    flex-direction: column;
    font-family: monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(29, 75, 104);
    width: 250px;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(0, 186, 237);
    border-width: thick;
}

.car>img{
    height: 100px;
    width: 200px;
    margin-bottom: 20px;
}

.info{
    list-style:none;
    align-self: flex-start;
}

.cars{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}